.ContactYourRep {
  border: 2px solid black;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
}

.repForm { 
  display: flex;
  flex-direction: column;
}

.repFormInput {
  border: none;
}

.border {
  border: 0.1em solid black;
  margin: 0;
  padding: 0;
}

.repPhoto {
  width: 20vw;
  height: 25vh;
}

