.DropDown {
  padding: 0 3em 0 3em;
  width: 33%;
}

#headline {
  cursor: pointer;
  padding-bottom: 1em;
  margin-bottom: 0;
}


#headline:hover{
  text-decoration: underline;
}

.DropDown ul {
  list-style: none;
  text-align: left;
}

.DropDown .learn-more-area {
  margin-top: 40px;
}
.DropDown li {
  margin: 0;
}

.DropDown .sources p {
  margin-bottom: 0;
  text-align: left;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.DropDown .source-list {

}

.DropDown .source-list li {
  margin-right: 10px;
  display: inline-block;
  color: white;
}
.DropDown .source-list li a {
  font-size: 12px !important;
  color: white !important;
}
