.DropDown {
  padding: 0 5em 0 5em;
}

#headline {
  cursor: pointer;
  padding-bottom: 1em;
  margin-bottom: 0;
}


#headline:hover{
  text-decoration: underline;
}

.DropDown ul {
  list-style: none;
  text-align: left;
}

.DropDown li {
  margin: 0;
}
