.Header {
  background-color: rgba(255, 183, 96, 0.4);
}

.headerImg {
  background-image: url('../utils/canvassing.jpg');
  height: 100%;
  width: 100%;
}

#frowny-face {
  height: 200px;
  width: 200px;
}