.Nav {
  background-color: #2e7bb6;
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 2000;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
}

.nav-logo {
  /* background-color: rgb(255, 183, 96); */
  height: 5rem;
  width: 5rem;
  margin: 1rem;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  color: white;
  flex-grow: 1;
}

.nav-logo strong {
  color: #FF9B00;
}
.nav-logo:hover {
  cursor: pointer;
}

.Nav .nav-content {
  width: 100%;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
}

.nav-item a {
  align-self: center;
  font-size: 12px;
  text-transform: uppercase;
  color: white !important;
  font-weight: 600;
  letter-spacing: 1px;
}

.nav-item > .active {
  border-bottom: 2px solid #FF9B00;
}


.nav-item:hover {
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 700px) {

  nav.Nav .nav-content {
    flex-direction: column;
    padding: 0;
  }
  nav.Nav .nav-logo {
    width: 100%;
    font-size: 18px;
    text-align: center;
    height: auto;
  }
  nav.Nav .nav-items {
    margin-bottom: 10px;
  }
  nav.Nav .nav-items .nav-item {
    margin: 5px 10px;
  }
}
