.TakeAction {
  border: 2px solid black;
  position: relative;
}

.TakeAction img {
  height: 100%;
  width: 100%;
  opacity: 0.5;
}

#action-text {
  width: 100%;
  background-color: rgb(255,255,255, 0.8);
  padding: 1em;
  position: absolute;
  top: 30%;
}