.TakeAction {
  position: relative;
  margin-bottom: 40px;
  padding-top: 20px;
  text-align: center;
}

.TakeAction .TakeActionViewport {
  width: 70%;
  display: inline-block;
  padding-bottom: 50px;
}

.TakeActionViewport p {
  text-align: left;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 39px;
  margin-bottom: 40px;
}
.TakeActionViewport h1 {
  text-transform: uppercase;
  color: var(--blue);
  letter-spacing: 2px;
}

.TakeAction img {
  height: 100%;
  width: 100%;
  opacity: 0.5;
}

#action-text {
  width: 100%;
  background-color: rgb(255,255,255);
  position: absolute;
  top: 25%;
  opacity: 0.85;
}

.TakeAction ul {
  text-align: center;
}
